.layout_1{
	background-color: cyan;
	padding: 20px 80px 20px 80px;
}
.logo{
	height: 100px;
	width: 100%;
	background-color: #dfd9d9;
	text-align: left;
	line-height: 80px;
	margin-bottom: 10px;
}
.navigation{
	height: 50px;
	width: 100%;
	background-color: #dfd9d9;
	text-align: center;
	line-height: 45px;
	margin-bottom: 10px;
}
.header{
	height: 200px;
	width: 100%;
	background-color: #dfd9d9;
	text-align: center;
	line-height: 180px;
	margin-bottom: 10px;
}
.wrapper{
	overflow: hidden;

}
.sidebar{
	height: 500px;
	width: 30%;
	background-color: #dfd9d9;
	float: left;
	text-align: center;
	line-height: 400px;
	margin-bottom: 10px;
}
.bodyarea{
	height: 500px;
	width: 67%;
	background-color: #dfd9d9;
	float: right;
	text-align: center;
	line-height: 400px;
	margin-bottom: 10px;
}
.footer{
	height: 50px;
	width: 100%;
	background-color: #dfd9d9;
	clear: both;
	text-align: center;
	line-height: 45px;
	margin-bottom: 10px;
}
.layout_2{
	background-color: cyan;
	padding: 20px 80px 20px 80px;
}

.logo1{
	height: 100px;
	width: 50%;
	background-color: #dfd9d9;
	text-align: left;
	line-height: 60px;
	float: left;
	margin-bottom: 10px;
}
.navigation1{
	height: 100px;
	width: 50%;
	background-color: #dfd9d9;
	text-align: left;
	line-height: 80px;
	float: right;
	margin-bottom: 10px;
}
.header1{
	height: 200px;
	width: 100%;
	background-color: #dfd9d9;
	text-align: center;
	line-height: 180px;
	clear: both;
	margin-bottom: 10px;
}
.intro{
	height: 200px;
	width: 100%;
	background-color: #dfd9d9;
	text-align: center;
	line-height: 180px;
	clear: both;
	margin-bottom: 10px;
}
.wrapper1{
	overflow: hidden;

}
.box{
	height: 500px;
	width: 32%;
	background-color: #dfd9d9;
	float: left;
	text-align: center;
	line-height: 400px;
	margin-bottom: 10px;
}
.margin{
	margin: 5px;
}
.footer1{
	height: 50px;
	width: 100%;
	background-color: #dfd9d9;
	clear: both;
	padding: 5px;
	text-align: center;
	line-height: 20px;
	margin-bottom: 10px;
}
.layout_3{
	background-color: cyan;
	padding: 20px 80px 20px 80px;
}
.logo3{
	height: 100px;
	width: 100%;
	background-color: #dfd9d9;
	text-align: left;
	line-height: 60px;
	margin-bottom: 10px;
}
.wrapper2{
	overflow: hidden;
}
.navigation2{
	height: 500px;
	width: 30%;
	background-color: #dfd9d9;
	text-align: center;
	line-height: 400px;
	float: left;
	margin-bottom: 10px;
}
.header3{
	height: 90px;
	width: 65%;
	background-color: #dfd9d9;
	text-align: center;
	margin-bottom: 10px;
	line-height: 80px;
	float: right;
	margin-bottom: 10px;
}
.body{
	height: 400px;
	width: 65%;
	background-color: #dfd9d9;
	text-align: center;
	line-height: 80px;
	float: right;
}
.footer3{
	height: 50px;
	width: 100%;
	background-color: #dfd9d9;
	clear: both;
	padding: 5px;
	text-align: center;
	line-height: 20px;
	margin-bottom: 10px;
}
.layout_4{
	background-color: cyan;
	padding: 20px 80px 20px 80px;
}

.logo4{
	height: 100px;
	width: 50%;
	background-color: #dfd9d9;
	text-align: left;
	line-height: 60px;
	float: left;
	margin-bottom: 10px;
}
.navigation1{
	height: 100px;
	width: 50%;
	background-color: #dfd9d9;
	text-align: left;
	line-height: 80px;
	float: right;
	margin-bottom: 10px;
}

.box1{
	height: 200px;
	width: 24%;
	background-color: #dfd9d9;
	float: left;
	margin-bottom: 10px;
}

}
.box{
	height: 500px;
	width: 32%;
	background-color: #dfd9d9;
	float: left;
	text-align: center;
	line-height: 400px;
	margin-bottom: 10px;
}

.footer4{
	height: 50px;
	width: 100%;
	background-color: #dfd9d9;
	clear: both;
	padding: 5px;
	text-align: center;
	line-height: 20px;
	margin-bottom: 10px;
}
.layout_5{
	background-color: cyan;
	padding: 20px 80px 20px 80px;
}

.logo5{
	height: 300px;
	width: 100%;
	background-color: #dfd9d9;
	clear: both;
	padding: 5px;
	text-align: center;
	line-height: 250px;
	margin-bottom: 10px;

}
.header4{
	height: 400px;
	width: 100%;
	background-color: #dfd9d9;
	clear: both;
	padding: 5px;
	text-align: center;
	line-height: 350px;
	margin-bottom: 10px;

}
.box1{
	height: 50px;
	width: 24%;
	background-color: #dfd9d9;
	float: left;
	margin-bottom: 10px;
}
.about{
	height: 500px;
	width: 30%;
	background-color: #dfd9d9;
	text-align: center;
	line-height: 400px;
	float: left;
	margin-bottom: 10px;
}
.quick{
	height: 245px;
	width: 65%;
	background-color: #dfd9d9;
	text-align: center;
	line-height: 80px;
	float: right;
	margin-bottom: 10px;
}
.footer5{
	height: 300px;
	width: 100%;
	background-color: #dfd9d9;
	clear: both;
	padding: 5px;
	text-align: center;
	line-height: 250px;
	margin-bottom: 10px;
}